
       <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand navbar-nav" href="#">
                
                Youtube Test
            </a>
          </nav>


<div class="container">

 

    <div class="row">
        <div class="col-sm-8">
                <video-details></video-details>
                <video-comments></video-comments>
        </div>
            <div class="col-sm-4" >
                    <video-list></video-list>
                </div>
    
   
</div>
</div>
